body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Location {
    border-radius: 10%;
    border: 25px solid white;
}
.Location:hover {
    border-radius: 10%;
    border: 25px solid blue;
}
