* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #efefef;
  color: #333;
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #230ebf;
  color: white;
}


.logo-container {
  z-index: 2;
}

.logo-container img {
  height: 44px;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-center ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-center a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #26f926c9;
}

.nav-right {
  margin-left: auto;
  display: flex;
  flex-direction: column; 
  gap: 10px;
  z-index: 2;
}

.nav-right .dropdown {
  position: relative;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #26f926c9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #230ebf;
  top: 100%;
  left: 0;
  min-width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  z-index: 100;
  flex-direction: column;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 12px;
  color: white;
  font-weight: 400;
  transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
  color: #26f926c9; 
  background-color: transparent; 
}

main {
  padding: 20px;
  text-align: center;
}

.site-footer {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #555;
}

/* for the social media icons */
.social-icons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons img {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.15);
}