.accordion {
    background-color: rgb(211,211,211);
    color: black;
    width: 100%;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}

.active, .accordion:hover{
    background-color: #230ebf;
    color: white;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
}

.panel p {
    padding: 15px 0;
    margin: 0;
    line-height: 2;
}

.Faqimg {
    width: 800px;
    height: auto;
}

main {
    margin-bottom: 10%;
}
h1 {
    font-weight: bold;
    color: black;
    font-size: 50px;
}