header {
    background: #00597B;
    padding:60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

header img{
    float: left;
    margin-right: 15px;
    width: 150px;
}
hr {
    margin-top: 0px;
    height:3px;
    border: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 45%;
}

header h1{
    margin-bottom: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

.navbar {
  width: fit-content;
  margin: 0 auto;
}